<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-8 mt-3 mb-5">
      <% if @model == 'tag' %>
      	<h3 class="mb-3">タグ: "<%= @content %>" の検索結果</h3>
        <%= render 'public/searches/search_form' %>
        <%= render 'layouts/novels_index', novels: @records %>
      <% elsif @model == 'user' %>
        <h3 class="mb-3">ユーザー名: "<%= @content %>" の検索結果</h3>
        <%= render 'public/searches/search_form' %>
        <%= render 'public/searches/user_search', records: @records %>
      <% else %>
      	<h3 class="mb-3">検索ワード: "<%= @content %>" の検索結果</h3>
        <%= render 'public/searches/search_form' %>
        <p>
          <%= link_to 'いいねが多い順', searches_search_path(content: @content, most_favorite: "true") %>
          <span>|</span>
          <%= link_to '新着順', searches_search_path(content: @content, latest: "true") %>
        </p>
        <%= render 'layouts/novels_index', novels: @records %>
      <% end %>
    </div>
  </div>
</div>

