<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-8 mb-5">
      <% if @model == 'tag' %>
      	<h3 class="mb-5">タグ: "<%= @content %>" の検索結果</h3>
        <%= render 'layouts/novels_index', novels: @records %>
      <% elsif @model == 'user' %>
        <h3 class="mb-5">ユーザー名: "<%= @content %>" の検索結果</h3>
        <%= render 'public/searches/user_search', records: @records %>
      <% else %>
      	<h3 class="mb-5">検索ワード: "<%= @content %>" の検索結果</h3>
        <%= render 'layouts/novels_index', novels: @records %>
      <% end %>
    </div>
  </div>
</div>



