 <div class="card-deck">
  <% novels.first(4).each do |novel| %>
    <div class="card px-2">
      <!-- Cardの内容 -->
      <h5 class="card-title"><%= link_to novel.title, novel_path(novel), style: "color: black;" %></h5>
      <h6 class="card-subtitle mb-2">
        <% if novel.tags.count == 0 %>
          </br>
        <% else %>
          <% novel.tags.each do |tag| %>
            <span><%= link_to tag.name, searches_search_path(content: tag.name, model:"tag", method: "perfect"), style: "color: gray;" %></span>
          <% end %>
        <% end %>
      </h6>
      <div>
        <span class="mr-5 favorite-btn">
          <%= render "public/favorites/favorites-btn", novel: novel %>
        </span>
        <span class="mr-5">
          <%= link_to novel_novel_comments_path(novel), class: "text-decoration-none text-dark h5" do %>
            <i class="fas fa-comment-dots"></i> <%= novel.novel_comments.count %>
          <% end %>
        </span>
        <p>投稿日: <%= l novel.created_at %></p>
        <p class="card-text">投稿者: <%= link_to novel.user.name, user_path(novel.user) %></p>
      </div>
    </div>
  <% end %>
</div>