<div class="container mt-2">
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-12">
      <%= form_with model: @novel do |f| %>
        <div class="mb-3 p-3 border bg-light", id="novel_<%= @novel.id %>">
          <h2 class="mb-4"><%= @novel.title %></h2>
          <div class="mb-2">
            <span class="mb-4">投稿者: <%= link_to @novel.user.name, user_path(@novel.user) %></span>
            <span class="ml-5 favorite-btn">
              <%= render "public/favorites/favorites-btn", novel: @novel %>
            </span><br>
          </div>
          <% @novel.tags.each do |tag| %>
            <span><%= tag.name %> </span>
          <% end %>
        </div>

        <!--文章の内容を改行ありで表示-->
        <div class="mb-5 px-4 py-3 border bg-light" id="show-novel-text">
          <%=safe_join(@novel.body.split("\n"),tag(:br))%>
        </div>

        <div class="text-right">
          <% if admin_signed_in? %>
            <%= link_to novels_index_admin_user_path(@novel.user), class: '' do %>
              <button class="btn btn-success" type="submit">もっと<%= @novel.user.name %>の投稿を見る</button>
            <% end %>
          <% else %>
            <% if @novel.user.id == current_user.id %>
              <%= link_to edit_novel_path(@novel), class: '' do %>
                <button class="btn btn-success" type="submit">編集する</button>
              <% end %>
            <% end %>

            <%= link_to novels_index_user_path(@novel.user), class: '' do %>
              <button class="btn btn-primary" type="submit">もっと<%= @novel.user.name %>の投稿を見る</button>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>