<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <h3 class="text-center mt-3">登録情報の編集</h3>

      <%= form_with model: @user, url:user_path, method: :patch do |f| %>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="column-table-head">ID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th class="column-table-head"><%= f.label "名前" %></th>
            <td><%= f.text_field :name, class: "form-control" %></td>
          </tr>
          <tr>
            <th class="column-table-head"><%= f.label "メールアドレス" %></th>
            <td><%= f.text_field :email, class: "form-control" %></td>
          </tr>
          <tr>
            <th class="column-table-head"><%= f.label "自己紹介" %></th>
            <td><%= f.text_area :introduction, class: "form-control", style: "height: 150px;" %></td>
          </tr>
        </tbody>
      </table>

      <div class="d-grid gap-2 d-md-block">
        <%= link_to user_path(@user), class: 'text-light' do %>
          <button class="btn btn-primary" type="submit">戻る</button>
        <% end %>
        <%= f.submit "変更を保存", class:"  btn btn-success" %>
        <%= link_to unsubscribe_users_path, class: 'text-light ml-5' do %>
          <button class="btn btn-danger" type="submit">退会する</button>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>